<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gilbor | Email</title>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding-top:25px;">

                <!-- Header Start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse: collapse;">
                                            <!-- logo -->
                                            <tr>
                                                <td align="left">
                                                    <a href="http://gilbor.com.ng">
                                                        <img src="http://gilbor.com.ng/content/images/logo.fw.png" alt="Company Logo" style="display: block;" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <!-- company slogan -->
                                            <tr>
                                                <td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;">
                                                    Gilbor
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                        </table>
                                        <table align="right" border="0" cellpadding="0" cellspacing="0" width="350" style="border-collapse: collapse;">
                                            <tr>
                                                <td height="75" style="text-align: right; vertical-align: middle;">
                                                   
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- Header End -->
                <!-- Banner Start -->
                <!-- Section Start -->
                <!-- Section Start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table bgcolor="#fafafa" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="0" width="100%" cellspacing="0" style="border-collapse: collapse;">
                                            <!-- Border -->
                                            <tr><td bgcolor="#eaeaea" style="font-size: 0; line-height: 0;" height="1">&nbsp;</td></tr>
                                            <!-- Space -->
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                        <table align="center" border="0" cellpadding="0" width="480" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td width="100%" align="left" style="font-size: 20px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
                                                                Dear Name,
                                                            </td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                                    </table>


                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="72%" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td width="100%" align="left" style="text-align:justify;font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#666666;">

                                                                Message 

                                                            </td>
                                                        </tr>
                                                        <!-- Space -->
                                                       
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Space -->
                                        <table align="center" border="0" cellpadding="0" width="100%" cellspacing="0" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <!-- Section End -->
                <!-- Section Start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table align="center" bgcolor="#e84c3d" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <!-- Border -->
                                            <tr><td bgcolor="#eaeaea" style="font-size: 0; line-height: 0;" height="1">&nbsp;</td></tr>
                                            <!-- Space -->
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="3">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; font-weight: bold; color:#ffffff;">
                                                                We build technology that works
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="140" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="0">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="100%" align="center" style="padding:12px 12px 12px 12px; text-align: center;" bgcolor="#f1f1f1">
                                                                <a href="http://gilbor.com.ng" style="color: #000000; font-size: 16px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More!</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <!-- Space -->
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <!-- Section End -->
                <!-- Section Start -->
                <!-- Footer Start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table bgcolor="#262626" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <!-- Space -->
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" bgcolor="#3a3a3a" height="1">&nbsp;</td></tr>
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <!-- First Column -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                <a href="http://gilbor.com.ng">
                                                                    <img src="http://gilbor.com.ng/content/images/logo.fw.png" alt="Logo" style="display: block;" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                                        <tr>
                                                            <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                                Gilbor is a 360 degrees engineering and ICT Solutions, and support firm that combines multiple disciplines into one integrated unique brand, to enhance assigned brands in the business place.
                                                            </td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                                        <tr>
                                                            <td>
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="55" style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://www.facebook.com/gilborhomes">
                                                                                <img src="http://gilbor.com.ng/emailtemplates/images/facebook-icon.png" alt="Facebook" style="display: block;" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="55" style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://www.twitter.com">
                                                                                <img src="http://gilbor.com.ng/emailtemplates/images/twitter-icon.png" alt="Twitter" style="display: block;" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="55" style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://plus.google.com/">
                                                                                <img src="http://gilbor.com.ng/emailtemplates/images/googleplus-icon.png" alt="Google+" style="display: block;" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="55" style="border-collapse: collapse;">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://www.linkedin.com/">
                                                                                <img src="http://gilbor.com.ng/emailtemplates/images/linkedin-icon.png" alt="Linked In" style="display: block;" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- Gutter 20px -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="40" style="border-collapse: collapse;">
                                                        <tr>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- Second Column -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="69">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="22">
                                                                <img src="http://gilbor.com.ng/emailtemplates/images/marker-icon.png" alt="location" />
                                                            </td>
                                                            <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">Plot 1966 Maputo street Wuse Zone 3 Abuja</td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="22">
                                                                <img src="http://gilbor.com.ng/emailtemplates/images/phone-icon.png" alt="location" />
                                                            </td>
                                                            <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+234&nbsp;803&nbsp;660&nbsp;0188</td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="22">
                                                                <img src="http://gilbor.com.ng/emailtemplates/images/fax-icon.png" alt="location" />
                                                            </td>
                                                            <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+234&nbsp;803&nbsp;938&nbsp;8611</td>
                                                        </tr>
                                                        <!-- Space -->
                                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                                        <tr>
                                                            <td width="22">
                                                                <img src="http://gilbor.com.ng/emailtemplates/images/mail-icon.png" alt="location" />
                                                            </td>
                                                            <td>
                                                                <a style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:info@gilbor.com.ng">info@gilbor.com.ng</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="22">
                                                                <img src="http://gilbor.com.ng/emailtemplates/images/mail-icon.png" alt="location" />
                                                            </td>
                                                            <td>
                                                                <a style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:gilbornigerialtd@gmail.com">gilbornigerialtd@gmail.com</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <!-- Footer End -->
                <!-- Subfooter Start -->
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <table bgcolor="#000000" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                                <tr>
                                    <td>
                                        <!-- Space -->
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" bgcolor="#333333" height="1">&nbsp;</td></tr>
                                            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                        </table>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
                                            <tr>
                                                <td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                    Copyright © 2018 by <a href="http://gilbor.com.ng" style="color: #cdcdcd; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">Gilbor Nigeria Ltd</a>. All Rights Reserved / <a href="#" style="color: #cdcdcd; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"> Unsubscribe</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Space -->
                                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <!-- Subfooter End -->


            </td>
        </tr>
    </table>
</body>
</html>