@{
    Layout = "~/views/shared/_MasterLayout.cshtml";
}

	<!-- banner start -->
<!-- ================ -->
<div class="banner">

    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">

        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner">
                <ul>
                    <!-- slide 1 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium Finishing Designs">

                        <!-- main image -->
                        <img src="~/Content/images/Lagos3.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption default_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            Premium Finishing Designs
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            100% Durability
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            15 Years Warranty
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Project Customization
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            Quick Installation
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                             data-x="0"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">
                            And Much More...
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr tp-resizeme"
                             data-x="right"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-end="9400"
                             data-endspeed="600">
                        </div>

                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="ICT Project">
                        <!-- main image -->
                        <img src="~/Content/images/GilborImage.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                       
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            Enterprise Solutions
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            We build technology that works
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            Provides ICT Services that are unique
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Innovative and In-time Designs
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            Latest Technologies Used
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                             data-x="0"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">
                            Affordable
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr"
                             data-x="right" data-hoffset="-660"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-endspeed="600"
                             data-autoplay="false"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true">
                            <div class="embed-responsive embed-responsive-16by9">

                            </div>
                        </div>
                    </li>
                    <!-- slide 2 end -->
                    <!-- slide 3 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">

                        <!-- main image -->
                        <img src="~/Content/images/Lagos3.jpg" alt="kenburns" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                             data-x="0"
                             data-y="70"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">
                            Clean &amp; Unique Design
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">
                            After Sale Support
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">
                            Attention To Details
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">
                            Innovative and In-time Designs
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                             data-x="0"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            <i class="icon-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                             data-x="50"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">
                            Latest Technologies Used
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                             data-x="0"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">
                            Affordable
                        </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr"
                             data-x="right" data-hoffset="-660"
                             data-y="center"
                             data-speed="600"
                             data-start="2700"
                             data-endspeed="600"
                             data-autoplay="false"
                             data-autoplayonlyfirsttime="false"
                             data-nextslideatend="true">
                            <div class="embed-responsive embed-responsive-16by9">

                            </div>
                        </div>

                    </li>
                    <!-- slide 3 end -->

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

</div>
<!-- banner end -->
<!-- page-top start-->
<!-- ================ -->
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="call-to-action">
                    <h1 class="title">Leo Vados</h1>
                    <p>Leo Vados is a dynamic and evolving Service oriented company, with a strong commitment to innovative and excellent service deliveries. </p>
                    <a class="btn btn-white more" href="#about">
                        Read more <i class="pl-10 fa fa-info"></i>
                    </a>
                    <a href="#footer" class="btn btn-default contact">Contact us <i class="pl-10 fa fa-phone"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-top end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container object-non-visible gray-bg" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
    <!-- main start -->
    <!-- ================ -->
    <div class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center title space-top" id="service">Our Service</h1>
                    <div class="separator"></div>
                    <p class="text-center">It's our utmost intention to AMAZE our clients...</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                                <i class="fa fa-home"></i>
                                <h2>Construction</h2>
                                <p>Our team comprises of innovative, highly capable and result oriented Engineers. </p>
                                @*<a href="page-services.html" class="btn-default btn">Read More</a>*@
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                                <i class="fa fa-skyatlas"></i>
                                <h2>Int./Exterior Design</h2>
                                <p>Our Interior and Exterior finishing designs are unique and in time...</p>
                                @*<a href="page-services.html" class="btn-default btn">Read More</a>*@
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                                <i class="fa fa-laptop"></i>
                                <h2>ICT</h2>
                                <p>We are committed to building technologies that improves services...</p>
                                @*<a href="page-services.html" class="btn-default btn">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main end -->

</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" id="about">About Us</h1>
                <div class="separator"></div>
              @*  <p class="lead text-center">Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam incidunt ut laboriosam.</p>*@
                <br>
                <div class="row">
                    <div class="col-md-6 object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="300">                        
                       
                        <p>
                            <b>Leo Vados</b> is a 360 degrees engineering and ICT Solutions, and support firm that combines multiple disciplines into one integrated unique brand, to enhance assigned brands in the business place. 
                        </p>
                        <p>
                            Our team which comprises of highly capable and result oriented Project Managers, Engineers, Architects, ICT Consultants, Software Developers and System/Network Administrators believes that the key factor for the success of any ongoing project is to build a spotless communication bond with our client. 
                        </p>
                        <p>
                            Our technology and business platform is built on a complete understanding and awareness of the world evolving markets. We identify the unique opportunity presented by the existence of innovative technologies to help address 21st century business needs. <em>“We build technology that works”</em> and provide the ICT solutions that are unique to the business needs of our clients. 
                        </p>
                    </div>
                    <div class="sidebar col-md-6">
                        <div class="side vertical-divider-left">
                            <div class="block clearfix">
                               
                                <div class="embed-responsive embed-responsive-16by9">

                                    <img src="~/Content/images/11.16.2019.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- section end -->
<div class="section gray-bg text-muted footer-top clearfix">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<!-- section start -->
<!-- ================ -->
<div class="section object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
    <div class="container">
        <br>
        <h1 class="text-center space-top" id="projects">Projects</h1>
        <div class="separator"></div>
        <br>
        <div class="row">
            <div class="col-md-12">

                <!-- isotope filters start -->
                <div class="filters text-center">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".ict">ICT</a></li>
                        <li><a href="#" data-filter=".real_estate">Real Estate</a></li>
                        <li><a href="#" data-filter=".int_ext_design">Int./Exterior Design</a></li>
                    </ul>
                </div>
                <!-- isotope filters end -->
                <!-- portfolio items start -->
                <div class="isotope-container row grid-space-20">
                    <div class="col-sm-6 col-md-3 isotope-item ict">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/homepage.png" alt="">
                                <a class="overlay small"target="_blank" href="http://ihealthgsfm.com">
                                    <i class="fa fa-link"></i>
                                    <span>ICT</span>
                                </a>
                            </div>
                            @*data-toggle="modal" data-target="#project-1"*@
                            <a class="btn btn-light-gray btn-block" target="_blank" href="http://ihealthgsfm.com">iHealth</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-1-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-1-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item ict">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/hmspic.png" alt="">
                                <a class="overlay small" target="_blank" href="https://iebsa.org/hms">
                                    <i class="fa fa-link"></i>
                                    <span>ICT</span>
                                </a>
                            </div>
                            @*data-toggle="modal" data-target="#project-3"*@
                            <a class="btn btn-light-gray btn-block" target="_blank" href="https://iebsa.org/hms">Hospital Management System</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-3-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-3-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item ict">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Dashboard.png" alt="">
                                <a class="overlay small" target="_blank" href="https://estore.ihealthgsfm.com/">
                                    <i class="fa fa-link"></i>
                                    <span>ICT</span>
                                </a>
                            </div>
                            @*data-toggle="modal" data-target="#project-6"*@
                            <a class="btn btn-light-gray btn-block" target="_blank" href="http://estore.gilbor.com.ng/">Inventory Management System</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-6-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-6-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item real_estate">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/real1.jpg" alt="">
                                <a class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Real Estate</span>
                                </a>
                            </div>
                            @*data-toggle="modal" data-target="#project-2"*@
                            <a class="btn btn-light-gray btn-block" href="#">Real Estate</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-2-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-2-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item real_estate">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/real2.jpg" alt="">
                                <a class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Real Estate</span>
                                </a>
                            </div>
                            @*data-toggle="modal" data-target="#project-5"*@
                            <a class="btn btn-light-gray btn-block" href="#">Real Estate</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-5-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-5-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item int_ext_design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/int1.jpg" alt="">
                                <a class="overlay small" >
                                    <i class="fa fa-link"></i>
                                    <span>Interior Design</span>
                                </a>
                            </div>
                           @* data-toggle="modal" data-target="#project-2"*@
                            <a class="btn btn-light-gray btn-block">Interior Design</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-4-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-4-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item int_ext_design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/ext1.jpg" alt="">
                                <a class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Interior Design</span>
                                </a>
                            </div>
                            @* data-toggle="modal" data-target="#project-2"*@
                            <a class="btn btn-light-gray btn-block">Interior Design</a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="project-4-label">Project Title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Project Description</h3>
                                                <div class="separator-2"></div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="owl-carousel content-slider-with-controls">
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-1.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-2.jpg" alt="">
                                                    </div>
                                                    <div class="overlay-container">
                                                        <img src="images/portfolio-item-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <h3>Project Info</h3>
                                                <ul class="list">
                                                    <li><strong class="vertical-divider">Client </strong> John Doe</li>
                                                    <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                                                    <li><strong class="vertical-divider">In </strong> Web Design</li>
                                                    <li><strong class="vertical-divider">Place </strong> Europe</li>
                                                    <li><strong class="vertical-divider">URL </strong> <a href="http://www.htmlcoder.me/preview/idea/v.1.0/">www.idea.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-xs-12">
                                                <h3>More info</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                                <form role="form">
                                                    <div class="form-group has-feedback">
                                                        <input type="email" class="form-control" id="project-4-email" placeholder="Email">
                                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                                    </div>
                                                    <a href="#" class="btn btn-white margin-top-clear">Subscribe</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item int_ext_design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/int2.jpg" alt="">
                                <a class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Exterior Design</span>
                                </a>
                            </div>
                            @* data-toggle="modal" data-target="#project-2"*@
                            <a class="btn btn-light-gray btn-block">Exterior Design</a>
                        </div>
                        <!-- Modal -->
                        <!-- Modal end -->
                    </div>
                    <div class="col-sm-6 col-md-3 isotope-item int_ext_design">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img src="~/Content/images/Project/ext2.jpg" alt="">
                                <a class="overlay small">
                                    <i class="fa fa-link"></i>
                                    <span>Exterior Design</span>
                                </a>
                            </div>
                            @* data-toggle="modal" data-target="#project-2"*@
                            <a class="btn btn-light-gray btn-block">Exterior Design</a>
                        </div>
                        <!-- Modal -->
                    
                        <!-- Modal end -->
                    </div>  
                </div>
                <!-- portfolio items end -->

            </div>
        </div>
    </div>
</div>
	<!-- section end -->
<!-- section start -->
			<!-- ================ -->
<div class="section gray-bg text-muted footer-top clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="owl-carousel clients">
								<div class="client">
									<a target="_blank" href="http://ihealthgsfm.com"><img src="~/Content/images/iHealth_logo-min.png" alt=""></a>
								</div>
								
								<div class="client">
									<a target="_blank" href="http://estore.gilbor.com.ng/"><img src="~/Content/images/sonLogo.fw.png" alt=""></a>
								</div>
                                <div class="client">
                                    <a target="_blank" href="http://lfcgwarinpa.org.ng"><img src="~/Content/images/logo.jpg.png" alt=""></a>
                                </div>
                                <div class="client">
                                    <a target="_blank" href="#"><img src="~/Content/images/ineclogo.fw.png" alt=""></a>
                                </div>

                                <div class="client">
                                    <a target="_blank" href="#"><img src="~/Content/images/nphcda_logo.png" alt=""></a>
                                </div>
                                <div class="client">
                                    <a target="_blank" href="http://lfcgwarinpa.org.ng"><img src="~/Content/images/logo.jpg.png" alt=""></a>
                                </div>
							</div>
						</div>
						<div class="col-md-6">
							<blockquote class="inline">
								<p class="margin-clear">We have been able to build technology that works for these happy clients.</p>	
								
							</blockquote>
						</div>
					</div>
				</div>
			</div>

<!-- section start -->
<!-- ================ -->
<!-- section end -->
			<!-- section end --><!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->