<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>LeoVados | Home</title>
        <meta name="description" content="LeoVados">
        <meta name="author" content="Idris Gbenga Oyesiku">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="~/Content/images/android-icon-96x96.png">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="~/Content/font-awesome.min.css" rel="stylesheet">
        <!-- Fontello CSS -->
        <link href="~/Content/fontello.css" rel="stylesheet">
        <!-- Plugins -->
        <link href="~/Content/pluggins/settings.css" media="screen" rel="stylesheet">
       @* <link href="~/Content/pluggins/extralayers.css" media="screen" rel="stylesheet">*@
        <link href="~/Content/pluggins/magnific-popup.css" rel="stylesheet">
        <link href="~/Content/pluggins/animations.min.css" rel="stylesheet">
        <link href="~/Content/pluggins/owl.carousel.min.css" rel="stylesheet">
        <!-- iDea core CSS file -->
        <link href="~/Content/style.min.css" rel="stylesheet">
        <!-- Color Scheme (In order to change the color scheme, replace the red.css with the color scheme that you prefer)-->
        <link href="~/Content/dark_red.css" rel="stylesheet">
        <!-- Custom css -->
        <link href="~/Content/custom.css" rel="stylesheet">       
    </head>
<body ng-app="myApp" class="front no-trans">
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
        <!-- header-top start (Add "dark" class to .header-top in order to enable dark header-top e.g <div class="header-top dark">) -->
        <!-- ================ -->
        <div id="header-top" class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-sm-6">

                        <!-- header-top-first start -->
                        <!-- ================ -->
                        <div class="header-top-first clearfix">
                            <ul class="social-links clearfix hidden-xs">
                                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>

                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>

                            </ul>
                            <div class="social-links hidden-lg hidden-md hidden-sm">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                    <ul class="dropdown-menu dropdown-animation">
                                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>                                        
                                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>                                       
                                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- header-top-first end -->

                    </div>
                    <div class="col-xs-10 col-sm-6">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second" class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> Search</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form role="search" class="search-box">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <i class="fa fa-search form-control-feedback"></i>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>



                            </div>

                        </div>
                        <!--  header top dropdowns end -->

                    </div>
                    <!-- header-top-second end -->

                </div>
            </div>
        </div>
   
    <!-- header start classes:
                fixed: fixed navigation mode (sticky menu) e.g. <header class="header fixed clearfix">
                 dark: dark header version e.g. <header class="header dark clearfix">
            ================ -->
    <header id="header-top" class="header fixed clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- header-left start -->
                    <!-- ================ -->
                    <div class="header-left clearfix">
                        <!-- logo -->
                        <div class="logo">
                            <a href="/"><img id="logo" src="~/Content/images/LeoVadologo.fw.png" alt="leo-vados"></a>
                        </div>

                        <!-- name-and-slogan -->
                        @*<div class="site-slogan">
                            ...value is what you get.
                        </div>*@

                    </div>
                    <!-- header-left end -->
                </div>
                <div class="col-md-9">
                    <!-- header-right start -->
                    <!-- ================ -->
                    <div class="header-right clearfix">
                        <!-- main-navigation start -->
                        <!-- ================ -->
                        <div class="main-navigation animated">
                            <!-- navbar start -->
                            <!-- ================ -->
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <!-- Toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="active">
                                                <a href="#header-top" class="dropdown-toggle">Home</a>
                                            </li>
                                            <!-- mega-menu start -->
                                            <li>
                                                <a href="#about" class="dropdown-toggle" data-toggle="dropdown">About</a>                                             
                                            </li>
                                            <li>
                                                <a href="#service">Service</a>                                               
                                            </li>
                                            <li>
                                                <a href="#projects">Projects</a>
                                            </li>
                                            <li>
                                                <a href="#footer">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>
                            <!-- navbar end -->

                        </div>
                        <!-- main-navigation end -->

                    </div>
                    <!-- header-right end -->

                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- header-top end -->
    <div>
        @RenderBody()
    </div>
    <footer id="footer" class="dark object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
            <!-- .footer start -->
            <!-- ================ -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-content object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="300">
                                <div class="logo-footer"><img id="logo-footer" src="images/logo_red_footer.png" alt=""></div>
                                <p>LeoVados is a 360 degrees engineering and ICT Solutions, and support firm that combines multiple disciplines into one integrated unique brand, to enhance assigned brands in the business place.</p>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-icons">
                                            <li><i class="fa fa-map-marker pr-10"></i>Suite 215B, Samfa Plaza Off Ndola Crescent, Wuse Zone 5, Abuja-FCT, Nigeria.</li>
                                            <li><i class="fa fa-phone pr-10"></i> +234 8036600188</li>
                                            <li><i class="fa fa-phone pr-10"></i> +234 8039388611</li>
                                            <li><i class="fa fa-envelope-o pr-10"></i> info@Leovados.com.ng</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="social-links colored">
                                            <li class="facebook"><a target="_blank" href="http://www.facebook.com/LeoVadosHomes"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a target="_blank" href="http://www.twitter.com/LeoVadosHomes"><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a target="_blank" href="http://plus.google.com/LeoVadosHomes"><i class="fa fa-google-plus"></i></a></li>
                                            @*<li class="skype"><a target="_blank" href="http://www.skype.com/LeoVadosHomes"><i class="fa fa-skype"></i></a></li>*@
                                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/LeoVadosHomes"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div ng-controller="contactUsController" class="footer-content object-non-visible" data-animation-effect="fadeInRightSmall" data-effect-delay="300">
                                <h2>Contact Us</h2>
                                <div ng-show="MessageSent2" class="alert alert-success hidden" id="MessageSent2">
                                    We have received your message, we will contact you very soon.
                                </div>
                                <div ng-show="MessageNotSent2" class="alert alert-danger hidden" id="MessageNotSent2">
                                    Oops! Something went wrong please refresh the page and try again.
                                </div>
                                <form role="form" id="footer-form">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="name2">Name</label>
                                        <input ng-model="name2" type="text" class="form-control" id="name2" placeholder="Name" name="name2">
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="email2">Email address</label>
                                        <input ng-model="email2" type="email" class="form-control" id="email2" placeholder="Enter email" name="email2">
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    @*<div class="form-group has-feedback">
                                        <label class="sr-only" for="name2">Subject</label>
                                        <input ng-model="subject2" type="text" class="form-control" id="subject2" placeholder="Subject" name="subject2">
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>*@
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="message2">Message</label>
                                        <textarea ng-model="message2" class="form-control" rows="4" id="message2" placeholder="Message" name="message2"></textarea>
                                        <i class="fa fa-pencil form-control-feedback"></i>
                                    </div>
                                    <input type="submit" ng-click="sendMessage()" value="Send" class="submit-button btn btn-default">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .footer end -->
            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Copyright © @DateTime.UtcNow.Year <a href="/">LeoVados Nigeria Limited</a>. All Rights Reserved</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="navbar navbar-default" role="navigation">
                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#service">Services</a></li>
                                        <li><a href="#projects">Project</a></li>                                       
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- Modernizr javascript --> 
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<script src="~/Angular/angular.js"></script>
    <script src="~/Angular/myApp.js"></script>*@
    <!-- jQuery REVOLUTION Slider  -->
    <script type="text/javascript" src="~/Scripts/pluggins/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pluggins/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/pluggins/isotope.pkgd.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="~/Scripts/pluggins/owl.carousel.min.js"></script>  
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="~/Scripts/pluggins/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="~/Scripts/pluggins/jquery.appear.js"></script>
    <!-- Contact form -->
    <script src="~/Scripts/pluggins/jquery.validate.js"></script>
    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="~/Scripts/pluggins/jquery.browser.js"></script>
    <script type="text/javascript" src="~/Scripts/pluggins/SmoothScroll.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="~/Scripts/pluggins/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/Scripts/pluggins/custom.js"></script>
</body>
</html>
